@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стилизация линии прокрутки */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #2a4ad6;
}

::-webkit-scrollbar-thumb {
  background: #152357;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #41549c;
}